TWILIO_ACCOUNT_SID = 'SID'
TWILIO_AUTH_TOKEN = 'TOKEN'
TWILIO_PHONE_NUMBER = 'NUMBER'
CLIENT_ID = 'YOUR CLIENT ID'
CLIENT_SECRET = 'YOUR CLIENT SECRET'
SENDGRID_API_KEY = 'YOUR SENDGRID API KEY'
TWILIO_PHONE_NUMBER='YOUR TWILIO PHONE NUMBER'
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD='your password'